streamlit
pypdf
langchain>=0.1.0,<0.2.0 # O la versión compatible que estés usando
langchain-google-genai
google-generativeai
langchain-community # Para FAISS y otros componentes
langchain-text-splitters # Para RecursiveCharacterTextSplitter
faiss-cpu # O faiss-gpu si tienes GPU y CUDA configurado
python-dotenv # Opcional, si usas .env para claves
